// COLORS
$color-primary: #00b4d8;
$color-primary-light: #90e0ef;
$color-primary-dark: #0096C7;

$color-secondary-light: #ff1d7b;
$color-secondary-dark: #D91667;

$color-tertiary-light: #FFB700;
$color-tertiary-dark: #FFA200;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;